@font-face {
    font-family: "nexenTire";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/nexenTire/nexenTire-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/nexenTire/nexenTire-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/nexenTire/nexenTire-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/nexenTire/nexenTire-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/nexenTire/nexenTire-Regular.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "nexenTire";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/nexenTire/nexenTire-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/nexenTire/nexenTire-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/nexenTire/nexenTire-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/nexenTire/nexenTire-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/nexenTire/nexenTire-Bold.ttf") format("truetype");
    font-display: swap;
} 
.nexenTire {
    font-family: "nexenTire";
}
.nexenTire400 {
    font-family: "nexenTire";
    font-weight: 400;
}
.nexenTire700 {
    font-family: "nexenTire";
    font-weight: 700;
}
